POCKETBASE_URL=https://unwilling-camella-axelads-f3f3ad2e.koyeb.app
POCKETBASE_ADMIN_EMAIL=admin@betedge.local
POCKETBASE_ADMIN_PASSWORD=ton_mot_de_passe

ANTHROPIC_API_KEY=sk-ant-...

TELEGRAM_BOT_TOKEN=...
TELEGRAM_CHAT_ID=...

ODDS_API_KEY=...
API_FOOTBALL_KEY=...
